alias ga='git add'
alias gp='git push'
alias gpm='git push origin master'
alias gl='git l'
alias gs='git s'
alias gd='git diff'
alias gdc='git diff --cached'
alias gc='git commit'
alias gma='git commit -am'
alias gb='git branch'
alias gco='git checkout'
alias gra='git remote add'
alias grr='git remote rm'
alias gpu='git pull'
alias gcl='git clone'

alias tmux='TERM=screen-256color tmux -2'
alias grep='grep --color=auto'
alias svi='sudo vi'
alias cd..='cd ..'
alias apt-get='sudo apt-get'
alias vim='vim -p'

alias be='bundle exec'
alias changelog='git log --format="%h %ai %an %s"'
